body {
    background-color: #222;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.login {
    width: 400px;
}

#auth > button {
    margin-left: 10px;
}

.card {
    float: left;
    margin: 10px;
}

.editor {
    margin: 10px;
}

.card-link{
    cursor: pointer;
}

#loginAlert {
    opacity: 0.3;
}